<dl>
    <dt>Name</dt>
    <dd>{{input value=name}}</dd>
    <dt>Character type</dt>
    <dd>{{ input value=type }}</dd>
    <dt>Subtype</dt>
    <dd>{{ input value=subtype }}</dd>
    <dt>Concept</dt>
    <dd>{{ input value=concept }}</dd>
    <dt>Created</dt>
    <dd>{{ creationDate }}</dd>
</dl>

<button {{action "save"}}> ok </button>
