{{ abilities }}
<h2>Abilities</h2>
<div>
    <h3>Physical</h3>
    <dl>
        <dt>Strength</dt>
        {{traits-single value=character.traits.strength.value favored=character.traits.strength.favored mayFavor=character.hasFavoredAttributes minValue=1}}
        <dt>Dexterity</dt>
        <dd>{{traits-single value=character.traits.dexterity.value favored=character.traits.dexterity.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
        <dt>Stamina</dt>
        <dd>{{traits-single value=character.traits.stamina.value favored=character.traits.stamina.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
    </dl>
</div>

<div>
    <h3>Social</h3>
    <dl>
        <dt>Charisma</dt>
        <dd>{{traits-single value=character.traits.charisma.value favored=character.traits.charisma.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
        <dt>Manipulation</dt>
        <dd>{{traits-single value=character.traits.manipulation.value favored=character.traits.manipulation.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
        <dt>Appearance</dt>
        <dd>{{traits-single value=character.traits.appearance.value favored=character.traits.appearance.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
    </dl>
</div>

<div>
    <h3>Mental</h3>
    <dl>
        <dt>Perception</dt>
        <dd>{{traits-single value=character.traits.perception.value favored=character.traits.perception.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
        <dt>Intelligence</dt>
        <dd>{{traits-single value=character.traits.intelligence.value favored=character.traits.intelligence.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
        <dt>Wits</dt>
        <dd>{{traits-single value=character.traits.wits.value favored=character.traits.wits.favored mayFavor=character.hasFavoredAttributes minValue=1}}</dd>
    </dl>
</div>
